
<div class="container pt-5">
 <div class="row justify-contest-sm-center pt-5">
      <div class="col-sm-6 shadow round pd-3">
        <h1 class="text-center pt-3 text secondary">Example form</h1>
        <form>
            <div class="form-group">
              <label class="col-form-label">Name:</label>
              <input type="text" class="form-control">
              <small class="text-danger">Name is Required</small>
            </div>
              <div class="form-group">
                <label class="col-form-label">Email:</label>
                <input type="text" class="form-control">
                <small class="text-danger">Email is Required</small>
              </div>
              <div class="form-group">
                <label class="col-form-label">Mobile:</label>
                <input type="text" class="form-control">
                <small class="text-danger">Mobile no is Required[minimun]</small>     
              </div>
              <button type="button" class="btm"
  
        